.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.suggestionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.suggestionContainer > div {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 2vw;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



#topLevel {
  display:grid;
  grid-template-areas: 
    'header'
    'content'
    'content'
    'content';
  height:100vh;
  width: 100vw;
}

#logInForm {
  grid-area: content;
  text-align: center;
}

#title{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start:2;
  grid-row-end:3;
  text-align: center;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
  
}

#navBar{
  grid-area: header;
  
  
}

#groupSelector{
  grid-column-start:3;
}


