.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.suggestionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.suggestionContainer > div {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 2vw;
}

#groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
#groups > div{
  /* flex: 1; */
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 2vw;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



#topLevel {
  display:grid;
  grid-template-areas: 
    'header'
    'content'
    'content'
    'content';
  height:100vh;
  width: 100vw;
}

#logInForm {
  grid-area: content;
  text-align: center;
}

#title{
  grid-area: 'header';
  text-align: center;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
  
}

#navBar{
  grid-area: header;
  
  
}

#groupSelector{
  grid-column-start:3;
}

#selectGroup{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px
}

#button-new{
  text-align: center;
  cursor: pointer;
  font-size:18px;
  margin: 5px 0 5px 10px;
  border-radius: 4px;
  background-color:burlywood;
  border: none;
  padding: 4px;
  width: 100px;
  height: 45px;
  border: 1px black;
  outline: black;
  transition: all 0.5s;
  font-family: 'Finger Paint', cursive;
}
/* 

.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
} */

/* .button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2px;
  transition: 0.5s;
} */

/* .button-two:hover span {
  padding-right: 25px;
} */
/* 
.button-two:hover span:after {
  opacity: 1;
  right: 0;
} */




