.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.suggestionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.suggestionContainer > div {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 2vw;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



#topLevel {
  display:grid;
  grid-template-areas: 
    'header'
    'content'
    'content'
    'content'
    'content'
    'content'
    'content'
    'content';
  height:100vh;
  width: 100vw;
}

.container {
  grid-area: content;
  text-align: center;
}

#logInForm {
  text-align: center;
}

#Title{
  grid-area: header;
  text-align: center;
  font-size: 80px;
  padding-bottom: 0;
  font-family: 'Permanent Marker', cursive;
}

#navBar{
  grid-area: header;
  height: 50px;
}

#groupContainer{
    display: grid;
    grid-template-areas: 
    'selector'
    'viewer';
  /* background: #FFFFFF */
}

#groupSelector{
  gird-area: selector;
  max-height: 1vh;
  min-height: 100px;
}

#groupViewer{
  grid-area: viewer;
  display: grid;
  grid-template-areas:
  'sidebar suggestion';
  /* background: #555555; */
  min-height: 70vh;
}

#groupMembers{
  background: #DD7777;
  gird-area: sidebar;
}

#groupSuggestion{
  gird-area: suggestion;
  min-height: 50vh;
}

#groups {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
#groups > div{
 box-sizing: border-box;
 margin-bottom: 10px;
 margin-left: 2vw;
}

#button-new{
 text-align: center;
 cursor: pointer;
 font-size:18px;
 margin: 5px 0 5px 10px;
 border-radius: 4px;
 background-color:burlywood;
 border: none;
 padding: 4px;
 width: 100px;
 height: 45px;
 border: 1px black;
 outline: black;
 transition: all 0.5s;
 font-family: 'Finger Paint', cursive;
}